In [1]:
import pandas as pd

In [2]:
df_eng = pd.read_csv(r"C:\Users\manan\PycharmProjects\Advanced Deep Learning\Encoder Decoder\input\English_sents.csv")
df_eng.head()

                                       English_Sents
0  Two young, White males are outside near many b...
1  Several men in hard hats are operating a giant...
2  A little girl climbing into a wooden playhouse.\n
3  A man in a blue shirt is standing on a ladder ...
4         Two men are at the stove preparing food.\n

In [3]:
df_ger = pd.read_csv(r"C:\Users\manan\PycharmProjects\Advanced Deep Learning\Encoder Decoder\input\German_sents.csv")
df_ger.head()

                                        German_Sents
0  Zwei junge weiße Männer sind im Freien in der ...
1  Mehrere Männer mit Schutzhelmen bedienen ein A...
2  Ein kleines Mädchen klettert in ein Spielhaus ...
3  Ein Mann in einem blauen Hemd steht auf einer ...
4  Zwei Männer stehen am Herd und bereiten Essen ...

In [6]:
df_eng.loc[4][0].split()

['Two', 'men', 'are', 'at', 'the', 'stove', 'preparing', 'food.']

In [7]:
df_ger.loc[4][0].split()

['Zwei', 'Männer', 'stehen', 'am', 'Herd', 'und', 'bereiten', 'Essen', 'zu.']

In [8]:
df = pd.read_csv(r"C:\Users\manan\PycharmProjects\Advanced Deep Learning\Encoder Decoder\input\dataset.csv")
df.head()

,German,English
0,Zwei junge weiße Männer sind im Freien in der ...,"Two young, White males are outside near many b..."
1,Mehrere Männer mit Schutzhelmen bedienen ein A...,Several men in hard hats are operating a giant...
2,Ein kleines Mädchen klettert in ein Spielhaus ...,A little girl climbing into a wooden playhouse.\n
3,Ein Mann in einem blauen Hemd steht auf einer ...,A man in a blue shirt is standing on a ladder ...
4,Zwei Männer stehen am Herd und bereiten Essen ...,Two men are at the stove preparing food.\n